fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings

sqlalchemy
psycopg[binary]
alembic

python-multipart
python-jose[cryptography]
passlib[bcrypt]

pypdf
python-docx

numpy
sentence-transformers

groq

pytest
httpx